{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
	<div style="margin-top: 10vh;"></div>
	<form class="form manage_form_sm" action="/edit_base/{{ base['baseID'] }}" method="post">
		<h2>{{ base['name'] }}</h2>
		<hr>
		<span class="manage_form_label">Name:</span><input type="text" name="name" value="{{ base['name'] }}"><div class="spacer"></div>
		<span class="manage_form_label">Branch:</span><input type="text" name="branch" value="{{ base['branch'] }}"><div class="spacer"></div>
		<span class="manage_form_label">MAJCOM:</span><input type="text" name="majcom" value="{{ base['majcom'] }}"><div class="spacer"></div>
		<span class="manage_form_label">Lat:</span><input type="text" name="lat" value="{{ base['lat'] }}"><div class="spacer"></div>
		<span class="manage_form_label">Lon:</span><input type="text" name="lon" value="{{ base['lon'] }}"><div class="spacer"></div>
		<span class="manage_form_label">Description:</span><div class="spacer"></div><textarea name="descr">{{ base['descr'] }}</textarea><br>
		<input type="submit" value="Update">
	</form>
</div>
<div class="settings_cog">
	<a href="manage"><img class="icon_img" src="{{ url_for('static', filename='images/settings.png') }}"></a>
</div>
{% endblock %}
