{% extends "base.html" %}

{% block content %}
<form id="login_form" class="form login_form" action="/login" method="post">
	<span class="fa fa-user">&nbsp;</span><input type="text" name="username" placeholder="Username"><br>
	<span class="fa fa-key"></span><input type="password" name="password" placeholder="Password"><br>
	<input type="submit" value="Login" onclick="outro()">
</form>
<script>
    function outro() {
        $('#login_form').css('top', '-500px');
    };
</script>
{% endblock %}

{% include "map_bg.html" %}
